:root {
  --white: #fff;
  --background: #f7f7f7;
  --main-darker: #6E0D25;
  --main: #8f1a28;
  --main-lighter: #daa2a2;
  --hover: #e2e2e2;
  --desc: #808080;
}
body {
  background-color: var(--background);
}
* {
	padding: 0;
	margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
