.loadingsection {
   width: 100%;
   position: relative;
   height: 100vh;
   background-color: var(--bila);
   display: flex;
   align-items: center;
   justify-content: center;
}
.spinner {
	border-radius: 50%;
	animation: spin 500ms linear infinite;
   color: var(--main);
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}